body
{
    margin: 0;
    background-color: #292929;
}

html {
    scroll-behavior: smooth;
}

#header {
    height:100%;
    width: 100%;
    text-align:center;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo-inicial{
    text-align:left;
    width:80%;
    height: 80%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background:rgba(0,0,0,0.7);
    padding:10px;
    border:5px solid #000;
}

.fondo {
    width: 100%;
    height: 100vh;
    background-image: url(../src/delincuencia-fondo-principal.jpg);
    background-size: cover;
    background-position: center;
}

#informate {
    padding: 50px 0;
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, rgb(91, 91, 91), rgb(50, 50, 50));
    font-family: Arial;
    color: #fff;
    text-align: center;
}

.cartas {
    padding: 50px 0;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, rgb(91, 91, 91), rgb(50, 50, 50));
}

/* Navbar */
.navbar {
    position: fixed;
    background-color: #292929;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30%;
    z-index: 1;
}

.navbar a {
    text-decoration: none;
    margin-left: 10px;
}

h1 {
    color: white;
    font-family:  Arial;
    font-size: 25px;

}

nav
{   
    width: auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav a
{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    background-color: yellow;
}

nav a:nth-child(1):after
{
    background-color: red;
}

nav a:nth-child(2):before
{
    background-color: #00e2ff;
}

nav a:nth-child(2):after
{
    background-color: #89ff00;
}

nav a:nth-child(3):before
{
    background-color: purple;
}

nav a:nth-child(3):after
{
    background-color: palevioletred;
}

#indicator1, #indicator2, #indicator3
{

    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform: scale(0);
    transition: 0.2s ease transform;
}


nav a:hover
{
    color: #fff;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}


nav a:nth-child(1):hover ~ #indicator1
{
    background: linear-gradient(130deg, yellow, red);
    transform: scale(1);
}


nav a:nth-child(2):hover ~ #indicator2
{
    background: linear-gradient(130deg, #00e2ff, #89ff00);
    transform: scale(1);
}

nav a:nth-child(3):hover ~ #indicator3
{
    background: linear-gradient(130deg, purple, palevioletred);
    transform: scale(1);
}

/* Informate */
#informate h3{
    font-size: 30px;
}

.a, .b, .c{
    text-align:left;
    width:75%;
    display:inline-block;
    background:rgba(0,0,0,0.7);
    padding:10px 0;
    border:5px solid #000;
}

#informate section div {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 7px;
}

#informate h1{
    border-bottom:0.5px solid #fff;
    margin-bottom:1px;
    padding-bottom: 15px;
}

.pag{
    display:inline-block;
    color:rgba(0,172,255,1);
    text-decoration:none;
    padding:10px;
    border:0.5px solid rgba(0,172,255,1);
    transition:500ms linear;
}
.pag:hover {
    background:rgba(0,172,255,1);
    color:#fff;
    transition:0.5s;
}



/* Cartas */
.titulo-cartas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.titulo-cartas h3 {
    font-family: Arial;
    color: #fff;
    font-size: 30px;
}

.contenido-cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: .3s all;
}

.card{
    display:block;
    background-color: white;
    height: 450px;
    width: 100%;
    margin: auto;
    transform: scale(0.7);
    border-radius: 20px;
    box-shadow: 0 0 80px 1px rgba(112, 112, 112, 0.8);
}
.info{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.titulo{
    font-size: 35px;
    font-family: "Raleway",sans-serif;
    color: #414141;
    font-style:inherit;
    position: absolute;
    letter-spacing: 2px;
    font-weight: 600;
    top:110px;
}
.prof{
    font-size: 25px;
    position: absolute;
    top:140px;
    font-family: "Work Sans",sans-serif;
    color: #555555;
}
.separador{
    background-color: #949594;
    height: 1.5px;
    width: 50px;
    position: absolute;
    top:190px;
}

.informacion{
    position: absolute;
    top:200px;
    color: #949594;
    text-align: center;
    font-size: 18px;
    font-family: "Work Sans",sans-serif;
    line-height: 28px;
}
.continuar{
    position: absolute;
    text-decoration: none;
    bottom: 30px;
    background-color: #414141;
    border: none;
    font-size: 20px;
    padding: 13px 25px;
    color: white;
    font-family: "Work Sans",sans-serif;
}
.photo{
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    transition: 1s;
}

.card:hover .photo{
    transform: scale(0.5,0.35) translateY(-650px);
    background-position: 0 -25px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

/* Imagenes */
#aerosol {
    background-image: url(../src/aerosol.jpg);
}

#linterna {
    background-image: url(../src/linternas-deslumbrantes.jpg);
}

#llavero {
    background-image: url(../src/llavero.jpg);
}

#nudillera {
    background-image: url(../src/nudillera.jpg);
}

#laser {
    background-image: url(../src/laser.webp);
}

#taser {
    background-image: url(../src/taser.jpg);
}

#silbato {
    background-image: url(../src/silbato.jpg);
}

#tecnicas {
    background-image: url(../src/defensa-personal.webp);
}

/* Footer */
.footer {
    font-family: Arial;
    position: relative;
    background: linear-gradient(180deg, rgb(91, 91, 91), rgb(50, 50, 50));
}

.footer .contenido1 {
    padding: 60px 0 0 0;
}

.footer .footer-info {
    position: relative;
    width: 100%;
    text-align: center;
}

.footer .footer-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.footer .footer-info h3 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footer-menu p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 15px;
    border-right: 1px solid #ffffff;
}


.footer .copyright {
    position: relative;
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}


.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright p {
    text-align: center;
}

.footer .copyright p a {
    color: #ffffff;
    font-weight: 600;
}

.footer .copyright p a:hover {
    color: #9e9d9d;
}

.footer .copyright p strong:hover {
    color: #9e9d9d;
}

@media screen and (max-width: 1000px) {
    .contenido-cartas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .informacion {
        margin: 2px;
    }
}

@media screen and (max-width: 940px) {
    .contenido-cartas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .informacion {
        margin: 10px;
    }
}

@media screen and (max-width: 700px){
    /* Footer */
    .footer .footer-info h2 {
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: 600;
    }

    .footer .footer-info h3 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .footer .footer-menu p {
        font-size: 15px;
        padding: 0 5px;
    }

    .footer .copyright{
        font-size: 15px;
    }
    
}

@media screen and (max-width: 665px){
    #mod1, #mod2 {
        font-size: 15px;
    }

    #mod3 {
        font-size: 20px;
    }
}


@media screen and (max-width: 565px){
    /* Navbar */
    .navbar {
        position: fixed;
        background-color: #292929;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0%;
    }

    .navbar a h1 {
        font-size: 100%;
    }

    nav a{
    font-size: 10px;
    }
    
    /* Inicio */
    .fondo {
        height: 50vh;
    }

    #header h1 {
        font-size: 17px;
    }

    /* Informate */
    #informate h1 {
        font-size: 17px;
    }

    #informate section div {
        font-size: 13px;

    }

    /* Cartas */
    .contenido-cartas {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: 500px;
    }
    
    .informacion {
        font-size: 25px;
    }

    #mod1, #mod2 {
        font-size: 25px;
    }

    #mod3 {
        font-size: 35px;
    }
    /* Footer */
    .footer .footer-info h2 {
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 600;
    }

    .footer .footer-info h3 {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .footer .footer-menu p {
        font-size: 10px;
        padding: 0 5px;
    }

    .footer .copyright{
        font-size: 10px;
    }
}

